@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: burlywood;
}

h1 {
  color: beige;
}

h2 {
  color: beige;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
text-decoration: none;
color: white;
}

a:hover {
color: brown;
}

a:active {
color: purple;
}